/*
* DONE
		- Link Styles
		- Mark Element
		- Details / Summary
		- Inserted Element
	TODO
		- Form Elements
! Issues
	  - Had to modify colors myself a lot
		trouble with color schemes being either too dark or too low.
*/
@use './mixins' as *;
@forward './theme';
@forward './typography';

html {
	overflow-x: hidden;
}

body {
	font-size: var(--fs-200);
	background-color: hsl(var(--surface--400));
	color: hsl(var(--text--100));
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	// temp changes
	// inline-size: min(100% - 2rem, 70ch);
	// margin-inline: auto;
}

/**
	* TODO: 
			- Link
			- Visited
			- Hover
			- Active
			- Focus
*/
:where(a) {
	--_hue: var(--h);
	--_sat: 60%;
	--_light: 50%;
	text-decoration: none;
	color: hsl(var(--_hue) var(--_sat) var(--_light));

	@include prefer-dark() {
		--_sat: 50%;
		--_light: 60%;
	}
}
:where(a:visited) {
	color: hsl(calc(var(--_hue) + 60deg) var(--_sat) var(--_light));
}
:where(a:hover) {
	--_light: 40%;
	text-decoration: revert;
}
:where(a:focus-visible) {
	outline: 2px solid currentColor;
	border-radius: 2px;
}

/* Remove border and set sensible defaults for backgrounds, on all elements except fieldset progress and meter */
:where(:not(fieldset, progress, meter)) {
	border-width: 0;
	border-style: solid;
	background-origin: border-box;
	background-repeat: no-repeat;
}
:where(input, textarea, select) {
	accent-color: hsl(var(--surface-100));
	background-color: hsl(var(--h) 20% var(--_light, 90%));
	padding: 0.25rem;
	border-radius: 0.25rem;

	@include prefer-dark() {
		--_light: 10%;
		color-scheme: dark;
	}

	&::placeholder {
		color: hsl(var(--text-200) / 0.5);
	}
}
:where(button) {
	@include prefer-dark() {
		color-scheme: dark;
	}
}

:where(mark, del, ins) {
	display: inline-block;
	border-radius: 4px;
	padding: 0.25rem;
	line-height: 1;
}

:where(del) {
	background-color: red;
}

:where(ins) {
	background-color: green;
}

:where(kbd) {
	outline: 2px solid currentColor;
	border-radius: 0.15rem;
	outline-offset: 4px;
}

:where(code) {
	background-color: hsl(var(--h) var(--s) var(--_light, 90%));
	padding: 0.25rem;
	border-radius: 0.3rem;
	@include prefer-dark() {
		--_light: 10%;
	}
}

:where(details) {
	--radius: 0.3rem;
	--spacing: 0.5rem;
}

:where(details > summary) {
	background-color: hsl(var(--h) var(--s) var(--_light, 90%));
	border-radius: var(--radius);
	padding: var(--spacing);
	line-height: 1;
	@include prefer-dark() {
		--_light: 20%;
	}
}

:where(details[open] > summary) {
	border-radius: var(--radius) var(--radius) 0 0;
}

:where(details > p) {
	background-color: hsl(var(--h) var(--s) var(--_light, 87%));
	border-radius: 0 0 var(--radius) var(--radius);
	padding: 8px var(--spacing);
	@include prefer-dark() {
		--_light: 13%
	}
}


// Typography
$steps: 5; /// base styles for 5 headings
@for $i from 1 through $steps {
	:where(h#{$i}) {
		font-size: var(--fs-#{(($steps + 1) - $i) * 100});
	}
}

// nested list indent if support for has
@supports (selector(:has(p))) {
	:where(ul, ol):not(:has(ul, ol)) {
		padding: revert;
	}
}

/* Animate focus outline, if no preference for motion */
@include prefers-motion {
	:focus-visible {
		transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
	}
	:where(:not(:active)):focus-visible {
		transition-duration: 0.25s;
	}
}

:where(:not(:active)):focus-visible {
	outline-offset: 3px;
}
