@use 'sass:list' as list;
@use 'sass:math';
@use 'sass:color';

@function rounded($value, $precision: 1) {
	$pow: math.pow(10, $precision);
	@return calc(round($value * $pow) / $pow);
}

@function lgbtq($step, $base) {
	$inc: calc(100 / $step);
	$percentage: ();
	$color: ();
	@for $var from 0 through $step {
		$color: list.append(
			$color,
			color.adjust($base, $hue: $var * calc(360 / $step)),
			comma
		);
		$percentage: list.append(
			$percentage,
			#{rounded($inc * $var, 2) + '%'},
			comma
		);
	}
	$list: list.zip($color, $percentage);
	@return $list;
}

@function lightness($theme, $name, $step, $var, $no, $idx) {
	$lightness: null;

	@if $theme == 'light' {
		$lightness: min(var(--l) - ($step * $var), 95%);
	} @else if $theme == 'dark' {
		$lightness: max(100% - (var(--l) - ($step * $var)), 5%);
	}
	@if $theme == 'light' and $name == 'text' {
		$lightness: math.clamp(5%, $step * ($no + 1) + ($idx * $step), 35%);
	} @else if $theme == 'dark' and $name == 'text' {
		$lightness: math.clamp(50%, (95% - ($step * $no)) - ($step * $var), 95%);
	}
	@return $lightness;
}
