// ALL the configuration can be done here.

/// your custom colors
$colors: ();
// if only using custom colors don't forget to define your root with variables.

/// config for auto generation.
$base: hsl(220 40% 50%);
$config: (
	auto-generate: true,
	stepShades: 20%,
	stepText: 5%,
	numberOfSurfaceShades: 4,
	numberOfTextShades: 2,
	cascadingColors: true,
);
