@use 'sass:map';
@use 'sass:math';

$colors: ();
$base: hsl(220 15% 20%);

@mixin generate-shades($base, $step, $no, $negate: 1) {
	@for $var from $no through 1 {
		$idx: math.abs($var - $no) - $negate;
		$shade: lightness($base);
		$colors: map.set(
			$colors,
			'light',
			'text',
			#{$var * 100},
			scale-color($base, $lightness: math.min($step * $idx, 95%))
		) !global;
	}
}

@include generate-shades($base, 20%, 5);

@debug $colors;
