/**
	* TODO: Mixins for all sort of media queries
	* * Try browsing and adding some clever mixins for future use.
*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

:root {
  --h: 220deg;
  --s: 45%;
  --l: 55%;
  --surface--200: hsl(var(--h), var(--s), min(var(--l) - 50%, 95%));
  --surface--100: hsl(var(--h), var(--s), min(var(--l) - 25%, 95%));
  --surface-100: hsl(var(--h), var(--s), min(var(--l) + 0%, 95%));
  --surface-200: hsl(var(--h), var(--s), min(var(--l) + 25%, 95%));
  --surface-300: hsl(var(--h), var(--s), min(var(--l) + 50%, 95%));
}

@media (prefers-color-scheme: dark) {
  :root {
    --s: calc(45% - 5%);
    --surface--200: hsl(var(--h), var(--s), max(100% - (var(--l) - 50%), 5%));
    --surface--100: hsl(var(--h), var(--s), max(100% - (var(--l) - 25%), 5%));
    --surface-100: hsl(var(--h), var(--s), max(100% - (var(--l) + 0%), 5%));
    --surface-200: hsl(var(--h), var(--s), max(100% - (var(--l) + 25%), 5%));
    --surface-300: hsl(var(--h), var(--s), max(100% - (var(--l) + 50%), 5%));
  }
}
.scss > .box:nth-child(1) {
  background-color: var(--surface--200);
}

.scss > .box:nth-child(2) {
  background-color: var(--surface--100);
}

.scss > .box:nth-child(3) {
  background-color: var(--surface-100);
}

.scss > .box:nth-child(4) {
  background-color: var(--surface-200);
}

.scss > .box:nth-child(5) {
  background-color: var(--surface-300);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(0.5rem + 1em);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  text-rendering: optimizeLegibility;
  min-block-size: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/**
	* TODO: A neater design system generator
	* TODO: typography system using clamp
	* TODO: spacing system using clamp
	* * Try making a dark theme generator. automatically :sparkle:
*/
.box-row {
  display: flex;
}
.box-row + .box-row {
  margin-block-start: 1rem;
}

.box-row {
  position: relative;
}
.box-row::before {
  letter-spacing: 1px;
  content: "HSL";
  display: block;
  font-size: 2rem;
  position: absolute;
  left: -6rem;
}

.lch::before {
  content: "LCH";
}

.scss::before {
  content: "SASS";
}

.box {
  height: 100px;
  width: 100px;
}
