/**
	* TODO: A neater design system generator
	* TODO: typography system using clamp
	* TODO: spacing system using clamp
	* * Try making a dark theme generator. automatically :sparkle:
*/

@use './global' as *;

body {
	@extend %centered;
}

.box-row {
	display: flex;

	& + & {
		margin-block-start: 1rem;
	}
}

.box-row {
	position: relative;

	&::before {
		letter-spacing: 1px;
		content: 'HSL';
		display: block;
		font-size: 2rem;
		position: absolute;
		left: -6rem;
	}
}

.lch::before {
	content: 'LCH';
}

.scss::before {
	content: 'SASS';
}

.box {
	height: 100px;
	width: 100px;
}
