@use './reset' as *;
@use './mixins' as *;
@use './functions' as *;
@use './base';

body {
	--wrapper: min(100% - 2rem, 60ch);
	background-color: hsl(var(--surface--400));
}

.input__range {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: hsl(var(--surface--400) / 0.7);
	backdrop-filter: blur(8px);
	padding-block: 0.5rem;
}

.range {
	--thumb-block: 30px;
	--thumb-inline: 15px;
	--track-block: 10px;
	--track-inline: var(--wrapper);
	--background: linear-gradient(to right, #{lgbtq(12, hsl(0 80% 70%))});
	@extend %range;
	inline-size: var(--track-inline);
}

section {
	text-align: center;
	@include flex(center, center, column);
	gap: 1rem;
	block-size: 100vh;

	&:not:where(.preference, :nth-child(3)) {
		inline-size: var(--wrapper);
		margin-inline: auto;
	}

	&:is(.preference, :nth-child(3)) > * {
		inline-size: var(--wrapper);
	}

	.tag {
		font-size: 0.9rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: hsl(var(--text--200));
	}

	&:nth-child(3n) {
		background-color: hsl(var(--surface--200));
	}
}

h1 {
	font-size: 2.25rem;
	color: hsl(var(--text--100));
}

p {
	color: hsl(var(--text-100));

	&.small {
		color: hsl(var(--text-200));
		font-size: 0.95rem;
	}
}

.homepage {
	block-size: calc(100vh - 58px);
}

.color {
	position: relative;
	.small {
		position: absolute;
		bottom: 1rem;
	}
}

.preference {
	background-color: hsl(var(--surface--400));
}

.complimentary {
	--hue-add: 180;
}

// Presentation ONLY
$idx: 0;

@for $i from -2 through 2 {
	@if $i >= 0 {
		$i: $i + 1;
	}
	$idx: $idx + 1 !global;
	.scss > .box:nth-child(#{$idx}) {
		background-color: hsl(var(--surface-#{$i * 100}));
		&:hover {
			scale: calc(1 + ($idx * 0.1));
			border-radius: $idx * 3;
			z-index: 2;
		}
	}
}

// text shades
$idx1: 0;
@for $i from -2 through 2 {
	@if $i >= 0 {
		$i: $i + 1;
	}
	$idx1: $idx1 + 1 !global;
	.text-#{$idx1 * 100} {
		color: hsl(var(--text-#{$i * 100}));
	}
}
