/**
	* TODO: Mixins for all sort of media queries
	* * Try browsing and adding some clever mixins for future use.
*/
.range {
  background-color: transparent;
  appearance: none;
}
.range {
  block-size: 38px;
  margin: 10px 0;
  inline-size: 100%;
}
.range:focus {
  outline: none;
}
.range::-webkit-slider-runnable-track {
  inline-size: var(--track-inline);
  block-size: var(--track-block);
  background: var(--background);
  cursor: pointer;
  border-radius: 6px;
}
.range::-webkit-slider-thumb {
  block-size: var(--thumb-block);
  inline-size: var(--thumb-inline);
  border-radius: 6px;
  background-color: #eee;
  cursor: pointer;
  -webkit-appearance: none;
  margin-block-start: calc((var(--thumb-block) / 2 - 4px) * -1);
  border: 1px solid #666;
}
.range::-moz-range-track {
  inline-size: var(--track-inline);
  block-size: var(--track-block);
  cursor: pointer;
  background: var(--background);
  border-radius: 6px;
}
.range::-moz-range-thumb {
  block-size: var(--thumb-block);
  inline-size: var(--thumb-inline);
  border-radius: 6px;
  background-color: #eee;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

[generated-colors=light], :root {
  --h: 220deg;
  --s: 40%;
  --l: 50%;
  --hue-add: 0;
}

@media (prefers-color-scheme: dark) {
  [generated-colors=dark], :root {
    --s: calc(40% - 10%);
    --hue-add: 0;
  }
}
:root {
  --surface--400: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 60%, 95%);
  --surface--300: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 45%, 95%);
  --surface--200: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 30%, 95%);
  --surface--100: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 15%, 95%);
  --surface-100: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 0%, 95%);
  --surface-200: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 15%, 95%);
  --surface-300: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 30%, 95%);
  --surface-400: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 45%, 95%);
  --text--200: calc(var(--h) + var(--hue-add)) var(--s) 5%;
  --text--100: calc(var(--h) + var(--hue-add)) var(--s) 10%;
  --text-100: calc(var(--h) + var(--hue-add)) var(--s) 20%;
  --text-200: calc(var(--h) + var(--hue-add)) var(--s) 25%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface--400: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 60%), 5%);
    --surface--300: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 45%), 5%);
    --surface--200: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 30%), 5%);
    --surface--100: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 15%), 5%);
    --surface-100: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 0%), 5%);
    --surface-200: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 15%), 5%);
    --surface-300: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 30%), 5%);
    --surface-400: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 45%), 5%);
    --text--200: calc(var(--h) + var(--hue-add)) var(--s) 95%;
    --text--100: calc(var(--h) + var(--hue-add)) var(--s) 90%;
    --text-100: calc(var(--h) + var(--hue-add)) var(--s) 85%;
    --text-200: calc(var(--h) + var(--hue-add)) var(--s) 80%;
  }
}
[generated-colors=light] {
  --surface--400: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 60%, 95%);
  --surface--300: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 45%, 95%);
  --surface--200: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 30%, 95%);
  --surface--100: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) + 15%, 95%);
  --surface-100: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 0%, 95%);
  --surface-200: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 15%, 95%);
  --surface-300: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 30%, 95%);
  --surface-400: calc(var(--h) + var(--hue-add)) var(--s) min(var(--l) - 45%, 95%);
  --text--200: calc(var(--h) + var(--hue-add)) var(--s) 5%;
  --text--100: calc(var(--h) + var(--hue-add)) var(--s) 10%;
  --text-100: calc(var(--h) + var(--hue-add)) var(--s) 20%;
  --text-200: calc(var(--h) + var(--hue-add)) var(--s) 25%;
}

[generated-colors=dark] {
  --s: calc(40% - 10%);
  --surface--400: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 60%), 5%);
  --surface--300: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 45%), 5%);
  --surface--200: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 30%), 5%);
  --surface--100: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) + 15%), 5%);
  --surface-100: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 0%), 5%);
  --surface-200: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 15%), 5%);
  --surface-300: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 30%), 5%);
  --surface-400: calc(var(--h) + var(--hue-add)) var(--s) max(100% - (var(--l) - 45%), 5%);
  --text--200: calc(var(--h) + var(--hue-add)) var(--s) 95%;
  --text--100: calc(var(--h) + var(--hue-add)) var(--s) 90%;
  --text-100: calc(var(--h) + var(--hue-add)) var(--s) 85%;
  --text-200: calc(var(--h) + var(--hue-add)) var(--s) 80%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(0.5rem + 1em);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  text-rendering: optimizeLegibility;
  min-block-size: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: clamp(0.85rem, -1rem + 4.5vw, 1.25rem);
}

body {
  background-color: hsl(var(--surface--400));
}

.box-row {
  display: flex;
}
.box-row + .box-row {
  margin-block-start: 1rem;
}

.range {
  --thumb-block: 30px;
  --thumb-inline: 15px;
  --track-block: 10px;
  --track-inline: 100%;
  --background: linear-gradient(to right, #f07575 0%, #f0b375 8.33%, #f0f075 16.67%, #b3f075 25%, #75f075 33.33%, #75f0b3 41.67%, #75f0f0 50%, #75b3f0 58.33%, #7575f0 66.67%, #b375f0 75%, #f075f0 83.33%, #f075b3 91.67%, #f07575 100%);
}

.box {
  height: 100px;
  width: 100px;
}

.scss {
  flex-wrap: wrap;
}

.scss > .box {
  transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: scale, border-radius;
}

.scss > .box:nth-child(1) {
  background-color: hsl(var(--surface--200));
}
.scss > .box:nth-child(1):hover {
  scale: 1.1;
  border-radius: 3;
  z-index: 2;
}

.scss > .box:nth-child(2) {
  background-color: hsl(var(--surface--100));
}
.scss > .box:nth-child(2):hover {
  scale: 1.2;
  border-radius: 6;
  z-index: 2;
}

.scss > .box:nth-child(3) {
  background-color: hsl(var(--surface-100));
}
.scss > .box:nth-child(3):hover {
  scale: 1.3;
  border-radius: 9;
  z-index: 2;
}

.scss > .box:nth-child(4) {
  background-color: hsl(var(--surface-200));
}
.scss > .box:nth-child(4):hover {
  scale: 1.4;
  border-radius: 12;
  z-index: 2;
}

.scss > .box:nth-child(5) {
  background-color: hsl(var(--surface-300));
}
.scss > .box:nth-child(5):hover {
  scale: 1.5;
  border-radius: 15;
  z-index: 2;
}

.text-100 {
  color: hsl(var(--text--200));
}

.text-200 {
  color: hsl(var(--text--100));
}

.text-300 {
  color: hsl(var(--text-100));
}

.text-400 {
  color: hsl(var(--text-200));
}

.text-500 {
  color: hsl(var(--text-300));
}

.box-row:has(.text-100) {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.round {
  block-size: 200px;
  inline-size: 200px;
  border-radius: 100px;
  background-color: hsl(var(--surface--100));
  color: var(--text-200);
}
